#play {
  background-color: dodgerblue;
  text-align: center;

  h1, h2 {
    color:white;
    text-align: center;
    font-family: monospace;
  }
  
  button:first-of-type {
    margin-right: 10px;
  }
}
