@import "~bootstrap/scss/bootstrap";

#progress {
  width: 70%;
  background-color: grey;
  font-weight: bold;
  margin: 15px auto;
}

.bg-info {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
