@import "~bootstrap/scss/bootstrap";

#progress {
  width: 100%;
  background-color: grey;
  font-weight: bold;
}

.bg-info {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
